
<div class="row">
  <div class="col-sm-12">
    <form #shareTrainLocatopn="ngForm" (ngSubmit)="onShareTrainLocatopn(shareTrainLocatopn.value)" >
      <input type="text" name="CountryId" ngModel />
      <input type="text" name="TrainId" ngModel id="TrainId" (change)="getTrainLocation()"/>
      <input type="submit" value="ShareLocation" />
    </form>
  </div>
  <button (click)="seeData()">seedata</button>
</div>
<div class="row">
  <div class="col-sm-12" style="height: 100vh;">
    <div class="map-frame">
      <div id="map"></div>
    </div>
  </div>
</div>
